<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="lastname">Nom d'utilisateur</label>
    <input
      id="lastname"
      formControlName="lastname"
      type="text"
      required
      minlength="8"
    />
  </div>

  @if (signUpForm.get('lastname')?.invalid &&
  signUpForm.get('lastname')?.touched) {
  <div>
    @if (signUpForm.get('lastname')?.errors?.['required']) {
    <span>Le nom d'utilisateur est requis.</span>
    } @if (signUpForm.get('lastname')?.errors?.['minlength']) {
    <span>Le nom doit comporter au moins 8 caractères.</span>
    }
  </div>
  }

  <div>
    <label for="firstname">Prenom d'utilisateur</label>
    <input id="firstname" formControlName="firstname" type="text" required />
  </div>

  <div>
    <label for="email">Email</label>
    <input id="email" formControlName="email" type="email" required email />
  </div>

  <div formGroupName="passwords">
    <div>
      <label for="password">Mot de passe</label>
      <input type="password" id="password" formControlName="password" />
      @if (signUpForm.get('passwords.password')?.invalid &&
      signUpForm.get('passwords.password')?.touched) {
      <div>
        @if (signUpForm.get('passwords.password')?.errors?.['required']) {
        <span>Le mot de passe est requis.</span>
        } @if (signUpForm.get('passwords.password')?.errors?.['securePassword'])
        {
        <span
          >Le mot de passe doit contenir au moins 12 caractères, avec une
          majuscule, une minuscule, un chiffre, et un caractère spécial.</span
        >
        }
      </div>
      }
    </div>

    <div>
      <label for="confirmPassword">Confirmer le mot de passe</label>
      <input
        type="password"
        id="confirmPassword"
        formControlName="confirmPassword"
      />
      @if (signUpForm.get('passwords')?.errors?.['passwordsMismatch'] &&
      signUpForm.get('passwords')?.touched) {
      <span>Les mots de passe ne correspondent pas.</span>
      }
    </div>
  </div>
  <button type="submit" [disabled]="signUpForm.invalid">S'inscrire</button>
</form>
