
<div class="articleCard">
    <h1>{{article.title}}</h1>
    <h2>{{article.author}}</h2>

    <p>{{article.content}}</p>

    <button (click)="toggleFocus()">Remove Focus</button>
    <ul>
        <li [ngClass]="{'focus': typeFocus}">Science-Fi</li>
        
        <li [ngStyle]="{ backgroundColor: typeFocus ? 'yellow' : 'black', color: typeFocus ? 'black' : 'white' }">Actions</li>

    </ul>
    
    @if (article.hasBeenViewed) {<img [src]="article.image" [alt]="article.immageAlt">}
     <!-- <img [hidden]="article.hasBeenViewed" [src]="article.image" [alt]="article.immageAlt"> -->
    <button (click)="togglePublication()">Already Viewed</button>
    <input type="text" [(ngModel)]="article.comment" placeholder="comment">
    <p>{{article.comment}}</p>

    <button (click)="handleHideComments()">Hide comments</button>
    
    @if(showComments) {
        @for (feedback of feedbacks; track feedback) {
            <li>{{ feedback }}</li>
            } @empty {
            <li>There are no items.</li>
            }
    
    }

   
</div>



